<main class="container">
  <h1 class="text-center my-5">Mi app de tareas</h1>
  <h2>Contenido privado - acceso solo a usuarios con sesión válida</h2>
  <form (ngSubmit)="newTodo()">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre de la tarea</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        aria-describedby="nameHelp"
        [(ngModel)]="todo.name"
      />
    </div>
    <button type="submit" class="btn btn-primary">Crear tarea</button>
  </form>

  <ng-container *ngIf="isEmpty; else notEmpty">
    <h3 class="text-center">No tiene tareas</h3>
  </ng-container>
  <ng-template #notEmpty>
    <h2 class="text-center">Tareas pendientes</h2>
    <ul class="list-group mt-5">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let todo of pendingTodos"
      >
        <div>{{ todo.name }}</div>
        <div>
          <label class="px-5"
            ><input
              type="checkbox"
              class="form-check-input"
              [checked]="todo.completed"
              (click)="updTodo(todo._id)"
            />Completada</label
          >
          <button
            type="button"
            class="btn btn-danger"
            (click)="delTodo(todo._id)"
          >
            Eliminar
          </button>
        </div>
      </li>
    </ul>
    <hr class="my-5" />
    <h2 class="text-center">Tareas completadas</h2>
    <ul class="list-group mt-5">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let todo of completedTodos"
      >
        <div>{{ todo.name }}</div>
        <div>
          <label class="px-5"
            ><input
              type="checkbox"
              class="form-check-input"
              [checked]="todo.completed"
              (click)="updTodo(todo._id)"
            />Completada</label
          >
          <button
            type="button"
            class="btn btn-danger"
            (click)="delTodo(todo._id)"
          >
            Eliminar
          </button>
        </div>
      </li>
    </ul>
  </ng-template>
</main>
