   <main role="main" class="principal">
    
      <h1>GH INGENIERIA</h1>
      <h2>Taller Automotriz</h2>
        
          <figure>
              <img class="imagen" src="assets/images/gh1.jpeg" alt="GHIngenieria1">
          </figure>
          
          <h2 id="quienes_somos">¿QUIENES SOMOS?</h2>
          <div class="quienes"><p>
              Bienvenidos a GH Ingeniería, aquí encontraran descargas gratuitas y de pago de manuales y/o libros de automotores, en el campo de la electricidad, electrónica, motores, suspensión, sistema de frenos y mas…
              <br><br>También se encuentra acceso a videos en youtube que pueden ser útiles para resolver dudas en cuanto a procedimientos con tu vehículo.
              <br><br><b>Nuestro objetivo principal</b> es brindarles información a estudiantes, docentes, técnicos, tecnólogos, ingenieros o personas que hagan parte de este mundo y así ayudar a ampliar o complementar su conocimiento.
              <br><br>Te invitamos a Suscribirte para participar del Blog y acceder a documentacion.
              <br><br>
          </p>
          </div>
          <h2 id="marcas_aut">MARCAS</h2>
          
           <section class="marcas">
              <section>
                  <img class="img_marcas" src="assets/images/nissan.jpg" alt="Nissan">
                  <figcaption>Nissan</figcaption>    
              </section>
  
              <section>
                  <img class="img_marcas" src="assets/images/Chevrolet.jpg" alt="Chevrolet">
                  <figcaption>Chevrolet</figcaption>
              </section>   
  
              <section>        
                  <img class="img_marcas" src="assets/images//Kia.jpg" alt="Kia">
                  <figcaption>Kia</figcaption> 
              </section>
  
          </section>
          
          <section class="marcas">
              <section> 
                  <img class="img_marcas" src="assets/images/Toyota.jpg" alt="Toyota" aling="center">
                  <figcaption>Toyota</figcaption>
              </section>
  
              <section> 
                  <img class="img_marcas" src="assets/images/Renault.jpg" alt="Renault" aling="center">
                  <figcaption>Renault</figcaption>
              </section>
  
              <section> 
                  <img class="img_marcas" src="assets/images/Ford.jpg" alt="Ford" aling="center">
                  <figcaption>Ford</figcaption>
              </section>
          </section>
          <section class="marcas">
              <section> 
                  <img class="img_marcas" src="assets/images/Honda.jpg" alt="Honda" aling="center">
                  <figcaption>Honda</figcaption>
              </section> 
              <section> 
                  <img class="img_marcas" src="assets/images/Suzuki.jpg" alt="Suzuki" aling="center">
                  <figcaption>Suzuki</figcaption>
              </section> 
           </section>
  
      <h2 id="preguntas_frec">PREGUNTAS FRECUENTES</h2>
      <section class="preguntas">
        
          <ul>
              <li><i class="fa-solid fa-circle-question"></i>¿CÓMO DESCARGAR UN ARCHIVO?</li>
              <br>
              Hay 2 Opciones, una vez abierto el documento siga los siguientes pasos:
              <br>•	Dropbox: Si eligió ésta opción, debe hacer clic en Descargar ubicado en el menú de arriba del visualizador PDF.
              <br>•	Google Drive: Si eligió ésta opción, debe hacer clic en Archivo > Descargar ubicado en el menú de arriba, ó presionar directamente Ctrl + S en Windows.
              <hr>
              <li><i class="fa-solid fa-circle-question"></i>¿QUÉ ES UN MANUAL?</li>
              <br>
              Los archivos que llevan como título MANUAL, son materiales del alumno, como manuales de taller, manual de usuario, manuales de seguridad entre otros.
              <hr>
              <li><i class="fa-solid fa-circle-question"></i>¿QUIÉN REALIZA LOS ARCHIVOS PDF?</li>
              <br>
              Todo lo publicado para descarga gratuita es una recopilación de distintas fuentes (Descargas de Internet, Bibliotecas, Colaboradores, Docentes, Empresas entre otros).
              <hr>
          </ul>
        
      </section>
      
          <h2>CONTACTO</h2>
          <section>
          <div>
            <address class="contacto">
              <ul>
                  <li><i class="fa-brands fa-instagram"></i>
                  <a href="https://instagram.com/ghingenieriataller?utm_medium=copy_link">@ghingenieriatallerautomotriz</a></li>
                  <li>+57 316 567 7301</li>
                  <li><i class="fa-brands fa-youtube"></i><a href="https://www.youtube.com/channel/UChGw5L8TGXGUXJQ7Nj6Q61g">GH Ingeniería</a></li>
              </ul>
            </address>
          </div>
        </section>
      <footer><small>&copy; Derechos reservados 2022</small></footer>
      </main>
     
     